jprops==2.0.2
openpyxl==3.0.7
gdax==1.0.6
six==1.10.0
lxml==4.6.3
docopt==0.6.2
requests==2.26.0
bitshares==0.7.0
coinbase==2.1.0
python_binance==1.0.12
python_exx==0.0.2
binance==0.3
gpustat==0.6.0
lockfile==0.12.2
psutil==5.8.0
pynvml==11.0.0
python_daemon==2.3.0
PyYAML==5.4.1
schedule==1.1.0
